<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#ffffff" />
  <title>Aaron Chambers</title> 
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

  <!-- FontAwesome icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

  <!-- Bootstrap Slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.2.1/bootstrap-slider.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.2.1/css/bootstrap-slider.min.css">

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/theme-litera-custom.css') }}"></link>

  <script type=text/javascript src="{{url_for('static', filename='scripts/main.js') }}"></script>

  <style>
    html, body {
      overflow-x: hidden;
    }
    @media (min-width: 576px) {
      body {
        margin-top: 75px;
      }
    }

    .nav-phone {
      margin-right: -15px;
      margin-left: -15px;
    }
  </style>
</head> 
<body style='display: none'>
  <div class="container-fluid">
    <div class="header">
      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" id="navbar">
        <div class="container">
          <a class="navbar-brand mr-1 mb-1 mt-0" href="#">&lt;Aaron Chambers&gt;</a>
        </div>
      </nav>
    </div>
